# Build output
dist/
.build/
*.syso
/velo*
!/velo.go
_example/simple/build

_example/**/*/data.json
_example/**/*/storage.json
_example/**/*/*.db

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

MyApp.app
vendor/

# Frontend assets
_example/frontendserver/frontend/public/timeless/
