html,
body {
  overscroll-behavior: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    "Helvetica Neue";
}

[data-theme="light"] body {
  background-color: #ededed;
}

[data-theme="dark"] body {
  background-color: #111111;
}

img {
  -webkit-user-drag: none;
}

video {
  max-height: 100%;
  height: unset;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: unset !important;
}
ol {
  list-style: decimal !important;
}

#root {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
